.main_div{
    border: 3px purple solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    height: 100vh;
    width: 100vw;
    /* background-color: #6983aa; */
    overflow: auto;
    
}
.center_div{
    
    
    border-radius: 2.5rem;
    padding: 15px;
    width: 20vw;
    overflow: auto;
    height: 70vh;
    background: #f4f4f4;
    overflow: hidden;
    box-shadow: 0px 1px 7px rgb(128,128,128);
    min-width: 10rem;
    min-height: 30rem;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    
}
.heading{
  background:transparent;
  /* background-color: #8566aa; */
  
  
}
.todo_body{
    border: 4px green solid;
}
.item_txt_class{
    border: none;
    height: 30px;
    background-color: transparent;
    font-size: 20px;
    border-bottom: 2px solid #8566aa;
    width: 70%;
    outline: none;
   

    
}
.add_btn{
    font-size: 25px;
   
    /* background-color: #8566aa; */
    font-weight: 500;
    width: 20%;
    margin-left: 20px;
    border-radius: 40%;
    cursor: pointer;
}

.add_btn :hover{
    background-color: green;
}
ol{
    margin-top: 20px;
}
ol li{
    font-size: 20px;
     text-align: left;
     font-weight: 500;
     min-height: 40px;
     display: flex;
     align-items: center;
     text-transform: capitalize;
}

.list_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.icon_cross{
    color: red;
    
   font-weight: bold;
    padding-right: 10px;
}